.header {
  display: flex;
  gap: 20px;
  justify-content:space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(180deg, #8B5E3C 0%, #946642 50%, #9F7048 100%);
  position: sticky;      
  top: 0;                
  left: 0;               
  width: 100%;
  z-index: 1000;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  height: auto;
  font-size: var(--large-font);
}

.logo {
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 220px;
  gap: 10px;
  padding: .5%;
  border-radius: 10%;
  background-color: var(--primary-color);
  color: var(--first-contrast-color);
  text-align: center;
}

.signProfile {
  display: flex;
  gap: 0.5rem;
  font-size: var(--large-font);
  color: var(--light-color);
  background-color: var(--primary-color);
}
@media only screen and (max-width: 650px) {
    .header {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 10px;
        padding: 0;  
    }
    .logo {
        justify-content: center;
        width: 100%;
        border-radius: 0;
    }
    .signProfile {
        justify-content: center;
        width: auto;
        font-size: var(--small-font);
    }
}