.navbar {
  background-color: var(--primary-color); 
  padding: 1rem 2rem;
  flex-grow: 2;
}

.navList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  font-size: var(--large-font);
  font-family: var(--font-body);
}

.navItem a:hover {
  color: var(--first-contrast-color);
  transition: .5s
}

.navItem.active a {
  font-weight: bold;
  color: var(--first-contrast-color);
  border-bottom: 1px solid var(--first-contrast-color);
}

.menuToggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: none; 
}


@media (max-width: 650px) {
  .navbar{
    order: 2;
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .menuToggle {
    display: block; 
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer
  }
  .navList.open {
    display: flex; 
  }
   .navList {
    display: none; /* oculto por defecto */
    flex-direction: column;
    background: var(--primary-color);
    padding: 1rem;
  }
}
