:root {
  --background: #fff;
  --font-heading: "Quicksand", sans-serif;
  --font-body: "Nunito", sans-serif;
  --font-fancy: "Playfair Display", serif;
    /* colors */
  --primary-color: #C22069;
  --secondary-color: #F26FA7;
  --tertiary-color: #8b5e3c;
  /* Links, important buttons: */
  --first-contrast-color: yellow;
  --contrast-color: #20C2C2;
  /* backgrounds, text */
  --light-color: #FDF6F8;
  --dark-color: dark;
    /* sizes */
  --font-base:  18px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  --text-height: 1.6;
  --underline: underline var(--contrast-color);
  --header-height: 80px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures footer is pushed to bottom */
}

main {
  flex: 1; /* takes remaining space */
}

h1{
  font-family: var(--font-heading);
  font-size: 4rem;
  margin-bottom: 1rem;
}
h2{
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3{
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}
h4{
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  }

  hr{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    margin-bottom: 30px;
    width:30%;
    height:5px; 
    border-radius: 10px;
}

p{
  font-family: var(--font-text);
  font-size: var(--font-base);
  margin-bottom: 1rem;
  color: var(--dark-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

#primary {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  color: var(--light-color);
}
#secundary {

  background-color: var(--secondary-color);
  margin-bottom: 1rem;
  color: var(--dark-grey);
}
#ternary {

  background-color: var(--tertiary-color);
  margin-bottom: 1rem;
  color: var(--light-color);
}

.logoText{
  font-family: var(--font-fancy);
  color: white; /* or your logo accent color */
  letter-spacing: 1px;
  margin-left: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even){background-color: var(--light-color);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--tertiary-color);
  color: white;
}
.tablecontainer{
  overflow-x: auto;
}
